@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root{
    --text-color-base: #000000;
    --text-color-active: #0056e1;
    --text-color-muted: #6b7280;
    --color-fill-primary: #ffffff;
    --color-fill-secondary: #f9fafb;
    --color-fill-teritiary: #ffffff;
    --color-fill-secondary-active: #e0f2fe;
    --color-fill-accent: #2F6FEB;
    --color-fill-chart-bar: #93c5fd;
    --color-fill-skeleton-item: #e5e7eb;
    --color-skeleton-gradient-start: 255, 255, 255;
  }
  
  .theme-teal{
    --text-color-base: #e5e7eb;
    --text-color-active: #1f2424;
    --text-color-muted: #d1d5db;
    --color-fill-primary: #000000;
    --color-fill-secondary: #1f2a2d;
    --color-fill-teritiary: #1f1f1f;
    --color-fill-accent: #009688;
    --color-fill-secondary-active: #d2f2f2;
    --color-fill-chart-bar: #28ada1;
    --color-fill-skeleton-item: #547b7b;
    --color-skeleton-gradient-start: 0, 0, 0;
  }
  
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type='number']::-webkit-inner-spin-button {
    @apply appearance-none;
    @apply m-0;
  }
  
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
    @apply m-0;
  }

  body{
    @apply text-skin-base;
    @apply bg-skin-fill-primary;
  }
}

